<h1>Groceries</h1>

<%= link_to 'Add a grocery to the list', new_item_path, :class => 'button new' %>


<table>
  <thead>
    <tr>
      <th>Shop</th>
      <th>Grocery</th>
      <th>Brand</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td class="alternate"><%= item.shop %></td>
        <td><%= item.title %></td>
        <td class="alternate"><%= item.brand %></td>
        <td class="dirty"><%= "|" * item.quantity  %>    <%= item.quantity %></td>
        <td class="actions"><%= link_to '', edit_item_path(item), :class => 'entypo-pencil' %></td>
        <td class="actions check"><%= link_to '', item, method: :delete, data: { confirm: 'Zeker weten?' }, :class => 'entypo-check'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


